.mappar{

    background-color: rgb(216, 142, 45);
    width: 100%;
    height: 100%;
}
.maprouter{
    position: relative;
    left: 1%;
    bottom: 4%;
    width: 100%;
    height: 100%;
 
    
}


.social-icon .fa-facebook-f:before :hover {
    color: #3b5998; /* Facebook */
  }
  
  .social-icon:hover .fa-twitter {
    color: #55acee; /* Twitter */
  }
  
  .social-icon:hover .fa-google {
    color: #dd4b39; /* Google */
  }
  
  .social-icon:hover .fa-instagram {
    color: #ac2bac; /* Instagram */
  }
  
  .social-icon:hover .fa-linkedin {
    color: #0077b5; /* LinkedIn */
  }
  
  .social-icon:hover .fa-github {
    color: #333; /* GitHub */
  }
  