.mission .row .card {
    width: calc(100% / 3 - 30px);
        height: 466px;
        background: #ebf5ff;
        border-radius: 8px;
        padding: 33px;
        position: relative;
        margin-top: 20px;
    }

.mission .row .card .card-body .kcl-p-title {
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    p.kcl-p-title, p.title {
    font-size: 22px !important;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: -.3px;
}
.mission .row .card .card-body ul {
        margin-left:5px;
    }
.mission    .row .card .card-order {
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-family: Inter, sans-serif;
        font-weight: 700;
        font-size: 54px;
        letter-spacing: -2%;
        line-height: 96%;
        color: #000;
        opacity: .1;
    }